[user]
	mail = primoretc@gmail.com
	name = primoretc
	email = primoretc@gmail.com
[credential]
  helper = "!f() { echo \"username=${GIT_USERNAME}\"; echo \"password=${GIT_ACCESS_TOKEN}\"; }; f"

[alias]
	history = log --graph
